<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>{{ user_profile.name }}</h2>
    <h2>{{ user_profile.email }}</h2>
    <h2>{{ user_profile.phone }}</h2>

    <br/>
    <hr/>
    <br/>

    <p>Summery</p>
    <p>{{ user_profile.summery }}</p>

    <hr/>

    <p>Skills</p>
    <p>{{ user_profile.skills }}</p>

    <hr/>

    <p>Education</p>
    <ul>
      <li>Schooling : {{ user_profile.school }}</li>
      <li>{{ user_profile.degree }} from {{ user_profile.university }}</li>
    </ul>

    <hr/>
    <p>Experience</p>
    <p>{{ user_profile.previous_work }}</p>

  </body>
</html>
